<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guiying.module.news">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".main.NewsCenterActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".detail.NewsDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>


</manifest>
